// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-card {
	padding: 0 12%;
}

/* Profile pages */
.cover {
	background-image: image-url("palms.png");
	background-size: cover;
	background-position: 0 80%;
	height: 300px;
}

.profile {
	color: #FFF;
	position: relative;
	left: 20px;
	top: 130px;

	div {
		display: inline-block;
		font-size: 3em;
		margin: 0 12px;
	}

	span {
		text-transform: uppercase;
	}
}

.pf-pic {
	border: 4px solid #FFF;
	height: 150px;
	width: 150px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	top: 60px;

	img {
		width: 100%;
	}
}

.card-panel.undercover {
	margin-top: 0;
	padding-left: 210px;

	span {
		color: #888;
		font-size: 0.9em;
		font-style: italic;
	}

	.btn {
		margin-top: -8px;
		font-size: 0.9em;
		float: right;
	}
}

.no-overflow {
	overflow: visible;
}

.with-select {
	.select-wrapper {
		margin-top: -10px;
		margin-bottom: -10px;
	}
}