<div class="splash-back swirls">
<div class="calendar-container">
	<div class="card-panel">
		<div id="calendar"></div>
		<div id="time-data" style="display: none;"></div>
	</div>
	<% if current_user.admin? %>
		<div class="text-center separate">
			<%= link_to "Create a new event", new_event_path, class: "btn btn-large light-blue" %>
		</div>
	<% end %>
</div>
</div>

<% content_for :javascript do %>
	<%= javascript_include_tag "calendar" %>
<% end %>
