<html>
	<head>
		<link rel="stylesheet" href="https://www.dropbox.com/s/v8pq6v8l172hbk4/flipclock.css?raw=1">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<script src="https://www.dropbox.com/s/0i1995nn9mdg1t4/flipclock.min.js?raw=1"></script>
		<script src="https://www.dropbox.com/s/6zbvnad369bxeqx/fr.js?raw=1"></script>
		
	</head>
	<body>
		<div class = "chesire">
			<img class = "cat" src="http://38.media.tumblr.com/d6e643cb65254491bcf3c317b66fe640/tumblr_n50pq7sGTv1r2m1nfo1_500.gif"></img>
		</div>
		<div class="fellcon">
			<div class="paunch clock" style="margin: 0 auto;width: auto;height: 50%;display: inline-block;"></div>	
		</div>
		
		
	</body>
</html>