<html>
	<head>
		<link rel="stylesheet" href="https://www.dropbox.com/s/v8pq6v8l172hbk4/flipclock.css?raw=1">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<script src="https://www.dropbox.com/s/0i1995nn9mdg1t4/flipclock.min.js?raw=1"></script>
		<script src="https://www.dropbox.com/s/6zbvnad369bxeqx/fr.js?raw=1"></script>
		
	</head>
	<body>
		<div class="clock" style="margin:auto;padding-top: 2cm;width: 50%;height: 50%;"></div>
		
	</body>
</html>