<div class="splash-back swirls">
<div class="container">
  <div class="card-panel center">
    <h3>Beta Delta Pledge Class</h3>
  </div>
</div>

<!-- IMGUR Album: https://imgur.com/a/9kqAp -->

<!-- Use this to add more pledges -->
<!-- <div class="col s3"> -->
<!--   <img class="responsive-img" src="https://i.imgur.com/7wWpqn2.jpg"> -->
<!--   <h6 style="text-align: center"></h6> -->
<!-- </div> -->

<div class="container">
  <div class="card-panel center">
    <div class="pledge-photos">

    <% count = 0 %>

    <!--Format for this: ["pledge_name", "image_link"]-->
    <% arr = [
        ['Alan Lui', 'https://i.imgur.com/Ij4Rat6.jpg'],
        ['Alan Taui', 'https://i.imgur.com/02tlG4y.jpg'],
        ['Andy Xie', 'https://i.imgur.com/1cVcTWI.jpg'],
        ['Arlan Ng', 'https://i.imgur.com/Mq3M4U3.jpg'],
        ['Benedict Sebastian', 'https://i.imgur.com/uhjHReM.jpg'],
        ['Candice Lee', 'https://i.imgur.com/hQCozO7.jpg'],
        ['Daniel Joung', 'https://i.imgur.com/88ntoMX.jpg'],
        ['David Kim', 'https://i.imgur.com/FzCLyPQ.jpg'],
        ['Dylan Dohyun Kim', 'https://i.imgur.com/JPqLXP6.jpg'],
        ['Edmond Choi', 'https://i.imgur.com/acTLZHe.jpg'],
        ['Grace Kouch', 'https://i.imgur.com/8CX29ZL.jpg'],
        ['Grace Zang', 'https://i.imgur.com/DM6IOVf.jpg'],
        ['Han Tran', 'https://i.imgur.com/Axyd0i4.jpg'],
        ['Ian Chan', 'https://i.imgur.com/fZCB4ZO.jpg'],
        ['Irene Wu', 'https://i.imgur.com/dmYAYaK.jpg'],
        ['Jason Fong', 'https://i.imgur.com/a1RI6W8.jpg'],
        ['Jennifer Zhang', 'https://i.imgur.com/r4xaocA.jpg'],
        ['Jodi Santos', 'https://i.imgur.com/nq9mYhT.jpg'],
        ['Kaylee Lee', 'https://i.imgur.com/J49EcFA.jpg'],
        ['Keith Ho', 'https://i.imgur.com/J2tKR7k.jpg'],
        ['Laura Jian', 'https://i.imgur.com/IJcHY6o.jpg'],
        ['Melanie Nieman', 'https://i.imgur.com/stPPdaC.jpg'],
        ['Michelle Tran', 'https://i.imgur.com/2bDi0eK.jpg'],
        ['Nathan Tsai', 'https://i.imgur.com/rnAm39T.jpg'],
        ['Serena Pang', 'https://i.imgur.com/AHtX4El.jpg'],
        ['Shorwei Gong', 'https://i.imgur.com/crDXnQl.jpg'],
        ['Sidharth Hulyalker', 'https://i.imgur.com/HIhRgS8.jpg'],
        ['Steven Shoemaker', 'https://i.imgur.com/aoMmku6.jpg'],
        ['Tyler Chau', 'https://i.imgur.com/wTwa2Gr.jpg'],
        ['Valerie Le', 'https://i.imgur.com/GKCjmWN.jpg'],
        ['Vicki Chen', 'https://i.imgur.com/8C8qlEU.jpg'],
        ['Zachary Chang', 'https://i.imgur.com/ccSlNHc.jpg']] %>

    <% arr.each do |pledge| %>
      <% if count % 4 == 0 %>
        <div class="row">
      <% end %>

      <div class="col s3">
        <img class="responsive-img" src=<%= pledge[1] %>>
        <h6><%= pledge[0] %></h6>
      </div>

      <% if count % 4 == 3 || count == arr.length - 1 %>
        </div>
      <% end %>

      <% count = count + 1 %>
    <% end %>

    </div>
  </div>
</div>
</div>
