<div class="container">
  <div class="card-panel center">
    <h3>Beta Gamma Pledge Class</h3>
  </div>
</div>

<!-- IMGUR Album: https://imgur.com/a/9kqAp -->

<!-- Use this to add more pledges -->
<!-- <div class="col s3"> -->
<!--   <img class="responsive-img" src="https://i.imgur.com/7wWpqn2.jpg"> -->
<!--   <h6 style="text-align: center"></h6> -->
<!-- </div> -->

<div class="container">
  <div class="card-panel center">
    <div class="pledge-photos">
      <!-- Pledge Hashmap -->
      <%= pledge = {"Alice Ghai" => "https://i.imgur.com/TgWPo0Z.jpg",
                    "Alonzo Escalante" => "https://i.imgur.com/vHjdjr7.jpg",
                    "Angela Qian" => "https://i.imgur.com/2sC5mTl.jpg",
                    "Ashley Tu" => "https://i.imgur.com/eNRDiPx.jpg",
                    "Ashlyn Youn" => "https://i.imgur.com/NRmE7t5.jpg",
                    "Brandon Garcia" => "https://i.imgur.com/7mIRudR.jpg",
                    "Brett Valdeabella" => "https://i.imgur.com/RhHPfsP.jpg",
                    "Camryn Cezar" => "https://i.imgur.com/EVsrIDc.jpg",
                    "Charles Chang" => "https://i.imgur.com/afUcuOy.jpg",
                    "Charley Bi" => "https://i.imgur.com/IimTgED.jpg",
                    "Claire Ng" => "https://i.imgur.com/8gTx9Ku.jpg",
                    "Elizabeth Harrington" => "https://i.imgur.com/7wWpqn2.jpg",
                    "Evelyn Ngo" => "https://i.imgur.com/9yHE3Ed.jpg",
                    "Grace Lee" => "https://i.imgur.com/8yfzLFH.jpg",
                    "Isabella Lee" => "https://i.imgur.com/wGOFkii.jpg",
                    "Jacob Hohn" => "https://i.imgur.com/aHmqlnr.jpg",
                    "Jared Suasin" => "https://i.imgur.com/Y42wSoY.jpg",
                    "Jason He" => "https://i.imgur.com/GGVBqWc.jpg",
                    "Jennie Nguyen" => "https://i.imgur.com/U9TzkJG.jpg",
                    "Jennifer Dinh" => "https://i.imgur.com/UceHhUE.jpg",
                    "Jidanus Jelatianranat" => "https://i.imgur.com/Wyb06re.jpg",
                    "Jon Ngo" => "https://i.imgur.com/Ss5MGO3.jpg",
                    "Jonathan Tao" => "https://i.imgur.com/7TF78O2.jpg",
                    "Josh Kuang" => "https://i.imgur.com/1x2OLCr.jpg",
                    "Joshua Kim" => "https://i.imgur.com/jsMvMoW.jpg",
                    "Joshua Paz" => "https://i.imgur.com/y3JoudT.jpg",
                    "Joy Guo" => "https://i.imgur.com/qcZXY93.jpg",
                    "Justin Dingeman" => "https://i.imgur.com/AmJmHPx.jpg",
                    "Ken Truong" => "https://i.imgur.com/Ub2QFI1.jpg",
                    "Kevin Yu" => "https://i.imgur.com/PGWAq5M.jpg",
                    "Kim Le" => "https://i.imgur.com/DqT4rBi.jpg",
                    "Leilah Clark" => "https://i.imgur.com/EqDxW8X.jpg",
                    "Marjorie Tolentino" => "https://i.imgur.com/HcJPmaW.jpg",
                    "Mary Chung" => "https://i.imgur.com/XggN44Y.jpg",
                    "Matthew Lum" => "https://i.imgur.com/uWVxF2a.jpg",
                    "Michelle Lee" => "https://i.imgur.com/MWzPsuS.jpg",
                    "Reggie Wu" => "https://i.imgur.com/bfytV8R.jpg",
                    "Richard Tang" => "https://i.imgur.com/316rKes.jpg",
                    "Sally U" => "https://i.imgur.com/rSVlJHb.jpg",
                    "Sang Hyun Lee" => "https://i.imgur.com/jinxl8C.jpg",
                    "Stephanie Kim" => "https://i.imgur.com/XkEb6GM.jpg",
                    "Tammy Chen" => "https://i.imgur.com/zyT5zcP.jpg",
                    "Thang Hoang" => "https://i.imgur.com/GZKr3Rb.jpg",
                    "Vicky Mak" => "https://i.imgur.com/fTcchEX.jpg",
                    "Victor Wu" => "https://i.imgur.com/Fa31CTa.jpg",
                    "Weicong Chen" => "https://i.imgur.com/43yGs5P.jpg",
                    "Yaelin Choi" => "https://i.imgur.com/FXMSS6a.jpg",
                    "Yana Reyes" => "https://i.imgur.com/be4ikcN.jpg",
                    "Yiyun Kong" => "https://i.imgur.com/1TTtjRD.jpg"
                    "Zachary Meng" => "https://i.imgur.com/Y13omFW.jpg"} %>
      
      <% count = 0 %>
      <% pledge.each do |key, value| %>
        <% if count % 4 == 0 %>
          <div class="row">
        <% end %>
        
        <div class="col s3">
          <img class="responsive-img" src=<% value %>/>
          <h6 style="text-align: center"><% key %></h6>
        </div>
        
        <% if count % 4 == 3 %>
          </div>
        <% end %>
        
        <% count = count + 1 %>
      <% end %>
    </div>
  </div>
</div>