<div class="container">
  <div class="card-panel center">
    <h3>Beta Alpha Pledge Class</h3>
  </div>
</div>

<div class="pledge-photos">
  <table align="center">
    <tr>
      <% count = 0 %>
      <% arr =['Aaron Lok',
'Adeline Chiang',
'Andy Hoang',
'Angel Gao',
'Annie Chen',
'Ashlyn Youn',
'Branden Teguh',
'Brandon Hong',
'Bruce Wong',
'Carmen Tin',
'Chanel Tonnu',
'Charles Lo',
'Danielle Kim',
'Donald Truong',
'Elizabeth Ortiz',
'Elizabeth Tang',
'Eric Perez',
'Eva Hu',
'Evelyn Ngo',
'Ferdinand Creencia',
'Glendy Yeung',
'Gloria Zhang',
'Hannah Bodeau',
'Irene Sun',
'Iris Chan',
'Jennifer Gunardi',
'Jennifer Koong',
'Jiaqi Wu',
'Joanne Sun',
'John Lieu',
'Johnny Ha',
'Karin Huang',
'Kevin Moyung',
'Kevin Nocum',
'Kevin Tsai',
'Lancelot Huang',
'Lucien Hsu',
'Marissa Vito',
'Mary Liang',
'Mason Zhu',
'Monica Leung',
'Nichakarn Ratanaphaithun',
'Perry Liu',
'Quinn Truong',
'Tim Lee',
'Shiv Dattani',
'Shorwei Gong',
'Thomas Lee',
'Thu Quynh Nguyen',
'Tiffany Wang',
'Timothy Phuong',
'Vincent Nguyen',
'Vy Ngo',
'Will Xu',
'Yilong Mo',
'Young JinYun',
'Yuhong Zhang',
'Yulim Lee']%>
      <% arr.each do |pledge| %>
        <% if count % 4 == 0 %>
          <tr>
        <% end %>
        <td><img 
        src="<%= 'https://dl.dropboxusercontent.com/u/25146178/Pledge%20Pictures/'+pledge.gsub(/\s+/, "")+".JPG"%>"
			  width="200"/> <br /><%= pledge %></td>
			  
			  <% if count % 4 == 3 %>
          </tr>
        <% end %>
        <% count = count + 1 %>
      <% end %>
      
      
    </tr>

    

    </table>
</div>
