<div class="splash-back swirls">
<div class="container">
  <div class="card-panel center">
    <h3>Beta Gamma Pledge Class</h3>
  </div>
</div>

<!-- IMGUR Album: https://imgur.com/a/9kqAp -->

<!-- Use this to add more pledges -->
<!-- <div class="col s3"> -->
<!--   <img class="responsive-img" src="https://i.imgur.com/7wWpqn2.jpg"> -->
<!--   <h6 style="text-align: center"></h6> -->
<!-- </div> -->

<div class="container">
  <div class="card-panel center">
    <div class="pledge-photos">
      
    <% count = 0 %>
    <% hash = {
        0   => ["Alice Ghai", "https://i.imgur.com/TgWPo0Z.jpg"],
        1   => ["Alonzo Escalante", "https://i.imgur.com/vHjdjr7.jpg"],
        2   => ["Alice Ghai", "https://i.imgur.com/TgWPo0Z.jpg"],
        3   => ["Alonzo Escalante", "https://i.imgur.com/vHjdjr7.jpg"],
        4   => ["Alice Ghai", "https://i.imgur.com/TgWPo0Z.jpg"],
        5   => ["Alonzo Escalante", "https://i.imgur.com/vHjdjr7.jpg"],
        6   => ["Alice Ghai", "https://i.imgur.com/TgWPo0Z.jpg"],
        7   => ["Alonzo Escalante", "https://i.imgur.com/vHjdjr7.jpg"],
        8   => ["Alice Ghai", "https://i.imgur.com/TgWPo0Z.jpg"],
        9   => ["Alonzo Escalante", "https://i.imgur.com/vHjdjr7.jpg"],
        10  => ["Alice Ghai", "https://i.imgur.com/TgWPo0Z.jpg"],
        11  => ["Alonzo Escalante", "https://i.imgur.com/vHjdjr7.jpg"],
        12  => ["Alice Ghai", "https://i.imgur.com/TgWPo0Z.jpg"],
        13  => ["Alonzo Escalante", "https://i.imgur.com/vHjdjr7.jpg"],
        14  => ["Alice Ghai", "https://i.imgur.com/TgWPo0Z.jpg"],
        15  => ["Alonzo Escalante", "https://i.imgur.com/vHjdjr7.jpg"],
        16  => ["Alice Ghai", "https://i.imgur.com/TgWPo0Z.jpg"],
        17  => ["Alonzo Escalante", "https://i.imgur.com/vHjdjr7.jpg"],
        18  => ["Alice Ghai", "https://i.imgur.com/TgWPo0Z.jpg"],
        19  => ["Alonzo Escalante", "https://i.imgur.com/vHjdjr7.jpg"],} %>
    
    <% while count < hash.length %>
      <% if count % 4 == 0 %>
        <div class="row">
      <% end %>
    
      <div class="col s3">
        <img class="responsive-img" src=<%= hash[count].at(1) %>>
        <h6><%= hash[count].at(0) %></h6>
      </div>
    
      <% if count % 4 == 3 %>
        </div>
      <% end %>
    
      <% count = count + 1 %>
    <% end %>
      
    </div>
  </div>
</div>  
</div>