<div class="splash-back swirls">
<div class="container">
  <div class="card-panel center">
    <h3>Beta Gamma Pledge Class</h3>
  </div>
</div>

<div class="container">
  <div class="card-panel center">
    <div class="pledge-photos">
      
      <table align="center">
        <tr>
          <% count = 0 %>
          <% arr = ['Alice Ghai',
                    'Alonzo Escalante',
                    'Andrew Kim',
                    'Angela Qian',
                    'Ashley Tu',
                    'Ashlyn Youn',
                    'Brandon Garcia',
                    'Brett Valdeabella',
                    'Camryn Cezar',
                    'Charles Chang',
                    'Charley Bi',
                    'Clair Ng',
                    'Elizabeth Harrington',
                    'Evelyn Ngo',
                    'Grace Lee',
                    'Isabella Lee',
                    'Jacob Hohn',
                    'Jared Suasin',
                    'Jason He',
                    'Jennie Nguyen',
                    'Jennifer Dinh',
                    'Jidanus Jelatianranat',
                    'Jon Ngo',
                    'Jonathan Tao',
                    'Josh Kuang',
                    'Joshua Kim',
                    'Joshua Paz',
                    'Joy Guo',
                    'Justin Dingeman',
                    'Ken Truong',
                    'Kevin Yu',
                    'Leilah Clark',
                    'Marjorie Tolentino',
                    'Mary Chung',
                    'Michelle Lee',
                    'Reggie Wu',
                    'Richard Tang',
                    'Sally U',
                    'Sang Hyun Lee',
                    'Stephanie Kim',
                    'Tammy Chen',
                    'Thang Hoang',
                    'Vicky Mak',
                    'Victor Wu',
                    'Weicong Chen',
                    'Yaelin Choi',
                    'Yana Reyes',
                    'Yiyun Kong',
                    'Zachary Meng']%>
                    
          <% arr.each do |pledge| %>
            <% if count % 4 == 0 %>
              <tr>
            <% end %>
            <td><img src="<% 'https://raw.githubusercontent.com/aporhopi/pledge_photos/master/beta_gamma/' + pledge.gsub(/\s/,%20) + '.jpg' %>" width="200"/><br/><% pledge %></td>
            <% if count % 4 == 3 %>
              </tr>
            <% end %>
          </tr>
      </table>
      
    </div>
  </div>
</div>