<div class="splash-back swirls">
<div class="container">
  <div class="card-panel center">
    <h3>Beta Gamma Pledge Class</h3>
  </div>
</div>

<!-- IMGUR Album: https://imgur.com/a/9kqAp -->

<!-- Use this to add more pledges -->
<!-- <div class="col s3"> -->
<!--   <img class="responsive-img" src="https://i.imgur.com/7wWpqn2.jpg"> -->
<!--   <h6 style="text-align: center"></h6> -->
<!-- </div> -->

<div class="container">
  <div class="card-panel center">
    <div class="pledge-photos">
      
    <% count = 0 %>
    
    <!--Format for this: ["pledge_name", "image_link"]-->
    <% arr = [
        ["Alice Ghai", "https://i.imgur.com/TgWPo0Z.jpg"],
        ["Alonzo Escalante", "https://i.imgur.com/vHjdjr7.jpg"]] %>
    
    <% arr.each do |pledge| %>
      <% if count % 4 == 0 %>
        <div class="row">
      <% end %>
    
      <div class="col s3">
        <img class="responsive-img" src=<%= pledge[1] %>>
        <h6><%= pledge[0] %></h6>
      </div>
    
      <% if count % 4 == 3 || count == arr.length - 1 %>
        </div>
      <% end %>
    
      <% count = count + 1 %>
    <% end %>
      
    </div>
  </div>
</div>  
</div>