<div class="container">
  <div class="card-panel center">
    <h3>Beta Gamma Pledge Class</h3>
  </div>
</div>

<!-- IMGUR Album: https://imgur.com/a/9kqAp -->

<!-- Use this to add more pledges -->
<!-- <div class="col s3"> -->
<!--   <img class="responsive-img" src="https://i.imgur.com/7wWpqn2.jpg"> -->
<!--   <h6 style="text-align: center"></h6> -->
<!-- </div> -->

<div class="container">
  <div class="card-panel center">
    <div class="pledge-photos">
      <div class="row">
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/TgWPo0Z.jpg">
          <h6 style="text-align: center">Alice Ghai</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/vHjdjr7.jpg">
          <h6 style="text-align: center">Alonzo Escalante</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/2sC5mTl.jpg">
          <h6 style="text-align: center">Angela Qian</h6>
        </div>
        <div class="col s3"> 
          <img class="responsive-img" src="https://i.imgur.com/yKglwQK.jpg"> 
          <h6 style="text-align: center">Andrew Kim</h6> 
        </div> 
      </div>
      
      <div class="row">
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/eNRDiPx.jpg">
          <h6 style="text-align: center">Ashley Tu</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/NRmE7t5.jpg">
          <h6 style="text-align: center">Ashlyn Youn</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/7mIRudR.jpg">
          <h6 style="text-align: center">Brandon Garcia</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/RhHPfsP.jpg">
          <h6 style="text-align: center">Brett Valdeabella</h6>
        </div>
      </div>
      
      <div class="row">
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/EVsrIDc.jpg">
          <h6 style="text-align: center">Camryn Cezar</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/afUcuOy.jpg">
          <h6 style="text-align: center">Charles Chang</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/IimTgED.jpg">
          <h6 style="text-align: center">Charley Bi</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/8gTx9Ku.jpg">
          <h6 style="text-align: center">Claire Ng</h6>
        </div>
      </div>
      <div class="row">
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/7wWpqn2.jpg">
          <h6 style="text-align: center">Elizabeth Harrington</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/9yHE3Ed.jpg">
          <h6 style="text-align: center">Evelyn Ngo</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/8yfzLFH.jpg">
          <h6 style="text-align: center">Grace Lee</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/wGOFkii.jpg">
          <h6 style="text-align: center">Isabelle Lee</h6>
        </div>
      </div>
      
      <div class="row">
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/aHmqlnr.jpg">
          <h6 style="text-align: center">Jacob Hohn</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/Y42wSoY.jpg">
          <h6 style="text-align: center">Jared Suasin</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/GGVBqWc.jpg">
          <h6 style="text-align: center">Jason He</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/U9TzkJG.jpg">
          <h6 style="text-align: center">Jennie Nguyen</h6>
        </div>
      </div>
      
      <div class="row">
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/UceHhUE.jpg">
          <h6 style="text-align: center">Jennifer Dinh</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/Wyb06re.jpg">
          <h6 style="text-align: center">Jidanus Jelatianranat</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/Ss5MGO3.jpg">
          <h6 style="text-align: center">Jon Ngo</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/7TF78O2.jpg">
          <h6 style="text-align: center">Jonathan Tao</h6>
        </div>
      </div>
      
      <div class="row">
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/1x2OLCr.jpg">
          <h6 style="text-align: center">Josh Kuang</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/jsMvMoW.jpg">
          <h6 style="text-align: center">Joshua Kim</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/y3JoudT.jpg">
          <h6 style="text-align: center">Joshua Paz</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/qcZXY93.jpg">
          <h6 style="text-align: center">Joy Guo</h6>
        </div>
      </div>
      
      <div class="row">
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/AmJmHPx.jpg">
          <h6 style="text-align: center">Justin Dingeman</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/Ub2QFI1.jpg">
          <h6 style="text-align: center">Ken Truong</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/PGWAq5M.jpg">
          <h6 style="text-align: center">Kevin Yu</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/DqT4rBi.jpg">
          <h6 style="text-align: center">Kim Le</h6>
        </div>
      </div>
      
      <div class="row">
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/EqDxW8X.jpg">
          <h6 style="text-align: center">Leilah Clark</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/HcJPmaW.jpg">
          <h6 style="text-align: center">Marjorie Tolentino</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/XggN44Y.jpg">
          <h6 style="text-align: center">Mary Chung</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/uWVxF2a.jpg">
          <h6 style="text-align: center">Matthew Lum</h6>
        </div>
      </div>
      
      <div class="row">
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/MWzPsuS.jpg">
          <h6 style="text-align: center">Michelle Lee</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/bfytV8R.jpg">
          <h6 style="text-align: center">Reggie Wu</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/316rKes.jpg">
          <h6 style="text-align: center">Richard Tang</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/rSVlJHb.jpg">
          <h6 style="text-align: center">Sally U</h6>
        </div>
      </div>
      
      <div class="row">
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/jinxl8C.jpg">
          <h6 style="text-align: center">Sang Hyun Lee</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/XkEb6GM.jpg">
          <h6 style="text-align: center">Stephanie Kim</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/zyT5zcP.jpg">
          <h6 style="text-align: center">Tammy Chen</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/GZKr3Rb.jpg">
          <h6 style="text-align: center">Thang Hoang</h6>
        </div>
      </div>
      
      <div class="row">
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/fTcchEX.jpg">
          <h6 style="text-align: center">Vicky Mak</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/Fa31CTa.jpg">
          <h6 style="text-align: center">Victor Wu</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/43yGs5P.jpg">
          <h6 style="text-align: center">Weicong Chen</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/FXMSS6a.jpg">
          <h6 style="text-align: center">Yaelin Choi</h6>
        </div>
      </div>
      
      <div class="row">
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/be4ikcN.jpg">
          <h6 style="text-align: center">Yana Reyes</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/1TTtjRD.jpg">
          <h6 style="text-align: center">Yiyun Kong</h6>
        </div>
        <div class="col s3">
          <img class="responsive-img" src="https://i.imgur.com/Y13omFW.jpg">
          <h6 style="text-align: center">Zachary Meng</h6>
        </div>
      </div>
    </div>
  </div>
</div>