<div class="container">
  <div class="card-panel center">
    <h3>Beta Alpha Pledge Class</h3>
  </div>
</div>

<div class="pledge-photos">
  <table align="center">
    <tr>
      <% count = 0 %>
      <% arr =['Albert Leung',
          'Alexandra Keesling',
          'Alexis Xu',
          'Amy Truong',
          'Angel Guan',
          'Audrey Komala',
          'Axl Blanco',
          'Ben Ku',
          'Benny Li',
          'Bettina Gerez',
          'Brittany Wong',
          'Catherine Cacho',
          'Charlene Huang',
          'Christal Vo',
          'Christian Fernandes',
          'Christian Pech',
          'Christine Tu',
          'Cynthia Huang',
          'Darin Lee',
          'Debbie Ferng',
          'Deisy Rodriguez',
          'Diana Gutierrez',
          'Diana Du',
          'Elaine Le',
          'Emily Wong',
          'Erika Myint',
          'Erika Morozumi',
          'Evelyn Hsueh',
          'Felicia Phan',
          'Geena Roberts',
          'Gregory Yip',
          'Hubert Lam',
          'Jamie Chan',
          'Jennifer Choi',
          'Jennifer Tran',
          'Jessica Han',
          'Jintao Zheng',
          'Jonathan Tin',
          'Jordan Nguyen',
          'Joshua Robertson',
          'Joshua Macapagal',
          'Joyce Sun',
          'Judy Au',
          'Karen Yu',
          'Karina Castillo',
          'Kathy Tram',
          'Kathy Law',
          'Kelly Eav',
          'Kenneth Ashley',
          'Kenny Luc',
          'Keo Jude Sarno',
          'Kevin Hsiao',
          'Kevin Jan',
          
          'Lacey Thach',
          'Lawrence Kotovnikov',
          'Leony Mijares',
          'Matthew Li',
          'Matthew Ho',
          'Michele Tom',
          'Michelle Tran',
          'Miranda Yu',
          'Nicole Johnson',
          'Oscar Garcia',
          'Patrick Oh',
          'Rayelyne Ikona',
          'Sally Lee',
          'Samantha Stevens',
          'Samnovem Macam',
          'Sarah Chang',
          'Simoni Dulanto',
          'Sophia Hoang',
          'Stella Kim',
          'Stephanie Pan',
          'Suhan Lee',
          'Sylvia O',
          'Tram Nguyen',
          'Vanna Luu',
          'Vicky Nguyen',
          'Vivian Nguyen',
          'Weldon Chang',
          'Wendy Do',
          'Yvette Laguitan']%>
      <% arr.each do |pledge| %>
        <% if count % 4 == 0 %>
          <tr>
        <% end %>
        <td><img 
        src="<%= 'https://dl.dropboxusercontent.com/u/25146178/Beta%20Alpha%20Pledge%20Pictures/'+pledge.gsub(/\s+/, "")+".JPG"%>"
			  width="200"/> <br /><%= pledge %></td>
			  
			  <% if count % 4 == 3 %>
          </tr>
        <% end %>
        <% count = count + 1 %>
      <% end %>
      
      
    </tr>

    

    </table>
</div>
