<div class="splash-back swirls" style="background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">
<div class="container">
  <div class="card-panel center">
    <h3>Beta Gamma Pledge Class</h3>
  </div>
</div>

<!-- IMGUR Album: https://imgur.com/a/9kqAp -->

<!-- Use this to add more pledges -->
<!-- <div class="col s3"> -->
<!--   <img class="responsive-img" src="https://i.imgur.com/7wWpqn2.jpg"> -->
<!--   <h6 style="text-align: center"></h6> -->
<!-- </div> -->

<div class="container">
  <div class="card-panel center">
    <div class="pledge-photos">
      
    <% count = 0 %>
    
    <!--Format for this: ["pledge_name", "image_link"]-->
    <% arr = [
        ['Alex Wu', 'https://i.imgur.com/HAsxTA4.jpg'],
        ['Anderson Pan', 'https://i.imgur.com/XpovGDU.jpg'],
        ['Andrea Xu', 'https://i.imgur.com/zrXhTf7.jpg'],
        ['Andrew Pham', 'https://i.imgur.com/sJrsMa8.jpg'],
        ['Arturo Quinonez', 'https://i.imgur.com/hvtHdCX.jpg'],
        ['Brian Vo', 'https://i.imgur.com/OGdpalC.jpg'],
        ['Candice Zhang', 'https://i.imgur.com/kqrlJgd.jpg'],
        ['Chloe Wu', 'https://i.imgur.com/q8UIT7y.jpg'],
        ['Christina Ha', 'https://i.imgur.com/8jnTibb.jpg'],
        ['Cliff Chang', 'https://i.imgur.com/3v6xfOQ.jpg'],
        ['Connie Kuang', 'https://i.imgur.com/NeDV2vI.jpg'],
        ['Daniel Kong', 'https://i.imgur.com/ORWwUUP.jpg'],
        ['Danny Ha', 'https://i.imgur.com/K2qJpc1.jpg'],
        ['Edgar Hotard', 'https://i.imgur.com/8pEaE0L.jpg'],
        ['Elaine Le', 'https://i.imgur.com/qNhBOCx.jpg'],
        ['Elisa Lau', 'https://i.imgur.com/O7Wpw68.jpg'],
        ['Jacky Chen', 'https://i.imgur.com/eEOhmMv.jpg'],
        ['Joseph Kwee', 'https://i.imgur.com/esHo4oX.jpg'],
        ['Joseph Lei', 'https://i.imgur.com/X9oBRQu.jpg'],
        ['Justin Dang', 'https://i.imgur.com/5KWvZRD.jpg'],
        ['Kelly Ong', 'https://i.imgur.com/SFS8exp.jpg'],
        ['Kevin Khuong', 'https://i.imgur.com/rAJNaUz.jpg'],
        ['Khassidy Nguyen', 'https://i.imgur.com/u4uG1pu.jpg'],
        ['Kyle Tran', 'https://i.imgur.com/Dz40fMi.jpg'], 
        ['Kyle Zhong', 'https://i.imgur.com/illY0aN.jpg'],
        ['Macy Ishida', 'https://i.imgur.com/uephMJE.jpg'],
        ['Mengyu Yang', 'https://i.imgur.com/oQjJE3n.jpg'],
        ['Michelle Yu', 'https://i.imgur.com/v85Ikz8.jpg'],
        ['Nikki Do', 'https://i.imgur.com/xpz1I0K.jpg'],
        ['Nina Nguyen', 'https://i.imgur.com/rsIqiRS.jpg'],
        ['Ranawat (Paul) Trisiripisal', 'https://i.imgur.com/S7k8lVY.jpg'],
        ['Sabrina Liao', 'https://i.imgur.com/ms6SuWd.jpg'],
        ['Sasho Marinov', 'https://i.imgur.com/WtxS4PX.jpg'],
        ['Sierra Gutierrez', 'https://i.imgur.com/OBSAAaI.jpg'],
        ['Sueanne Liang', 'https://i.imgur.com/mxmHS0n.jpg'],
        ['Vi Sinh', 'https://i.imgur.com/jGQZWmy.jpg'],
        ['Victor Lei', 'https://i.imgur.com/z1yVHv3.jpg'],
        ['Vivian Li', 'https://i.imgur.com/fNHkFXv.jpg'],
        ['Willis Tan', 'https://i.imgur.com/z1VVqlI.jpg']%>
    
    <% arr.each do |pledge| %>
      <% if count % 4 == 0 %>
        <div class="row">
      <% end %>
    
      <div class="col s3">
        <img class="responsive-img" src=<%= pledge[1] %>>
        <h6><%= pledge[0] %></h6>
      </div>
    
      <% if count % 4 == 3 || count == arr.length - 1 %>
        </div>
      <% end %>
    
      <% count = count + 1 %>
    <% end %>
      
    </div>
  </div>
</div>  
</div>