<div class="splash-back stardust" style="background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">
<div class="container white-text" style="margin: 0 auto; max-width: 1280px; width: 85%">
  <div id="intro" class="row" style="margin-left: 1rem; margin-right: 1rem; padding-top: 5rem; padding-bottom: 5rem">
    <div class="col m6 s12 right-align">
      <h2>Alpha Phi Omega</h2>
      <p class="flow-text">Leadership. Friendship. Service.<br><em>An experience of a lifetime.</em></p>
    </div>
    <div class="col m6 s12">
      <%= image_tag "rush/rush-crest.png", :class => "responsive-img" %>
    </div>
  </div>
  
  <hr>
  
  <div id="info" class="row center" style="padding-top: 5rem; padding-bottom: 5rem; padding-left: 2rem; padding-right: 2rem">
    <h3>Who are we?</h3>
    <hr width="50%", color="#d81b60"><br>
    <!--<div class="col m6 s12" style="padding-right: 1rem">-->
      <!--Insert Rush Video Embed Link Here-->
    <!--  <div class="video-container">-->
    <!--    <iframe width="560" height="315" src="https://www.youtube.com/embed/iqY9TAmrVXk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>-->
    <!--  </div>-->
    <!--</div>-->
    <!--<div class="col m6 s12 left-align" style="padding-left: 1rem">-->
    <!--  <p>Alpha Phi Omega is the nation's largest co-educational community service fraternity. Established in 1925 and has grown to include chapters across the United States, Canada, the Philippines, and Australia. Rho Pi is Alpha Phi Omega's chapter in University of California, San Diego and is the largest professional fraternity on campus.</p>-->
    <!--  <p>Every chapter revolves around three cardinal principles: Leadership, Friendship and Service. We aim to develop our understanding of these three principles and strive to provide service to the fraternity, to the campus, to the community and to the country. </p>-->
    <!--  <p>Want to know more? Check the <a href="/about" style="color: #D02E77">About Us</a> page for more information!</p>-->
    <!--</div>-->
      <!--Insert Rush Video Embed Link Here-->
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iqY9TAmrVXk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
      <br>
      <p>Alpha Phi Omega is the nation's largest co-educational community service fraternity. Established in 1925 and has grown to include chapters across the United States, Canada, the Philippines, and Australia. Rho Pi is Alpha Phi Omega's chapter in University of California, San Diego and is the largest professional fraternity on campus.</p>
      <p>Every chapter revolves around three cardinal principles: <strong>Leadership</strong>, <strong>Friendship</strong> and <strong>Service</strong>. We aim to develop our understanding of these three principles and strive to provide service to the fraternity, to the campus, to the community and to the country. </p>
      <p>Want to know more? Check the <a href="/about" style="color: #D02E77">About Us</a> page for more information!</p>
  </div>
  
  <hr>
  
  <div id="rush-req" class="row center" style="padding-top: 5rem; padding-bottom: 5rem; padding-left: 2rem; padding-right: 2rem">
    <h3>Rush Requirements</h3>
    <p><em>everything you need to know</em></p>
    <hr width="50%", color="#d81b60"><br>
    <div class="col m6 s12 left-align">
      <p>In order to be eligible to pledge for Alpha Phi Omega, you <strong>must</strong>:</p>
      <!--Update for new requirements-->
      <ul>
        <li>&bull; Attend at least one Info Night</li>
        <li>&bull; Attend Installations - Bring $100 in cash, check or Venmo. Professional attire is required!</li>
      </ul>
      <p>See our rush events <a href="#events" class="pink-text text-darken-1">here</a>!</p>
    </div>
    <div class="col m6 s12 left-align">
      <p>Also, make sure that you are available during these dates, as you are required to attend these events while pledging:</p>
      <!--Update when dates are finalized-->
      <ul>
        <li>&bull; Retreat - Friday, 1/27 - Sunday, 1/29</li>
        <li>&bull; Assignments - Sunday, 2/5</li>
        <li>&bull; Sib Reveal - Sunday, 2/11</li>
      </ul>
      <p>See all the pledging requirements <a href="https://docs.google.com/document/d/18R7xIt-xk7VQ6EZswYDSOnWrfET0ZD0GHBXMYCJk2L8/edit?usp=sharing" class="pink-text text-darken-1">here</a>!</p>
    </div>
  </div>
  
  <hr>
  
  <div id="faq" class="row center" style="padding-top: 5rem; padding-bottom: 5rem; padding-left: 2rem; padding-right: 2rem">
    <h3>FAQ</h3>
    <p><em>frequently asked questions</em></p>
    <hr width="50%", color="#d81b60"><br>
    <h5><strong>Who is allowed to join?</strong></h5>
    <p>We are a co-educational fraternity and allow both genders to join. We are also open to any student in good academic standing, and as a professional fraternity, we do not conflict with your ability to join other social fraternities or organizations.</p>
    <br>
    <h5><strong>Does Alpha Phi Omega haze?</strong></h5>
    <p>No. University of California, San Diego, Alpha Phi Omega and our chapter, Rho Pi all have expressive policies against any form of hazing. We do not condone any form of degredation, personal service and other practices that violate the principles of Alpha Phi Omega.</p>
    <br>
    <h5><strong>If I decide to rush, am I committed to joining Alpha Phi Omega?</strong></h5>
    <p>No. The rush process provides an opportunity for you to evaluate Alpha Phi Omega and see if it is right for you. During rush, if you decide for any reason not to move forward in Alpha Phi Omega, you are in no way obligated.</p>
    <br>
    <h5><strong>How is APO different from a social Greek fraternity or sorority?</strong></h5>
    <p>APO is a fraternity in that we are a Greek letter organization, yet we are not a social fraternity. We are a national organization with rituals, tradition, and a camraderie and bonding among our members. Service, however, is always our primary focus. We are not associated with the Inter-fraternity Council or the Panhellenic Association, and are instead a member of the Professional Fraternity Council. At our core is the belief that everybody can be great because everybody can serve.</p>
    <br>
    <a href="mailto:pta@aporhopi.org" class="waves-effect waves-light pink darken-1 btn">Questions? Email us at pta@aporhopi.org</a>
    <br><br>
  </div>
  
  <hr>
  
  <div id="events" class="row center" style="padding-top: 5rem; padding-bottom: 5rem; padding-left: 2rem; padding-right: 2rem">
    <h3>Become a brother of Alpha Phi Omega!</h3>
    <p><em>Start your journey today. Come to our rush events.</em></p>
    <hr width="50%", color="#d81b60"><br><br>
    <%= image_tag "https://i.imgur.com/SjnMiVP.jpg", :class => "responsive-img" %>
    <br><br>
    <h4>Events</h4>
    <ul>
      <li style="margin-bottom: 1rem"><strong>BOARD GAME NIGHT</strong><br>Wednesday 1/10 from 8PM - 10PM</li>
      <li style="margin-bottom: 1rem"><strong>INFO NIGHT 1 + PIZZA & ICE CREAM</strong><br>Thursday 1/11 from 8PM - 10 PM</li>
      <li style="margin-bottom: 1rem"><strong>PIZZA & BASKETBALL</strong><br>Friday 1/12 from 6PM - 8PM</li>
      <li style="margin-bottom: 1rem"><strong>SERVICE NIGHT</strong><br>Tuesday 1/16 from 8PM - 10PM</li>
      <li style="margin-bottom: 1rem"><strong>INFO NIGHT 2 + PHO</strong><br>Wednesday 1/17 form 7PM - 10PM</li>
      <li style="margin-bottom: 1rem"><strong>WAPI SERVICE</strong><br>Thursday 1/18 from 8PM - 10PM</li>
      <li style="margin-bottom: 1rem"><strong>BONFIRE</strong><br>Friday 1/19 from 6PM - 8PM</li>
      <li><strong>INSTALLATIONS</strong><br>Sunday 1/21 form 3:30PM - 5PM</li>
    </ul>
  </div>
  
  <hr>
  
  <div id="footer" class="row center" style="padding-top: 1rem">
    <p>Questions? Email us at <a href="mailto: pta@aporhopi.org" class="white-text">pta@aporhopi.org</a>!</p>
    <p>Find us on:<br><a href="https://www.facebook.com/UCSDAPO" class="white-text">Facebook</a> | <a href="https://www.instagram.com/apoucsd/" class="white-text">Instagram</a></p>
  </div>
</div>
</div>