<!DOCTYPE HTML>
<html>
	<head>
		<title>RUSH APO UCSD</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/494566973/rushwebsite/assets/css/main.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"/>
	</head>
	<body class="landing">
		<div id="page-wrapper">
			
			<!-- Header -->
				<header id="header">
					<link rel="shortcut icon" href="https://dl.dropboxusercontent.com/u/494566973/rushwebsite/images/icon.ico">
					<h1 id="logo"><a href="http://aporhopi.org/rush">&Alpha; &Phi; &Omega; - &Rho; &Pi;</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="#intro">About</a></li>
							<li><a href="#principles">Principles</a></li>
							<li><a href="#reqs">Requirements</a></li>
							<li><a href="#faq">FAQ</a></li>
							<li><a href="#service">Service</a></li>
							<li><a href="#rush" class="button special">Fall Rush 2016</a></li>

						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Alpha Phi Omega</h2>
							<p>Leadership. Friendship. Service.<br />
							An experience of a lifetime.</p>
						</header>
						<span class="image"><img src="https://dl.dropboxusercontent.com/u/494566973/rushwebsite/images/emblemsmall.jpg" alt="" /></span>
					</div>
					<a href="#intro" class="goto-next scrolly">Next</a>
				</section>

			<!-- Intro -->
				<section id="intro" class="spotlight style1 bottom">
					<span class="image fit main"><img src="https://dl.dropboxusercontent.com/u/494566973/rushwebsite/images/collage.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2><i>Who are we?</i></h2>
									</header>
									<a href="https://www.youtube.com/watch?v=iqY9TAmrVXk"><strong>Rush Video: Watch Here</strong></a>
								</div>
								<div class="4u 12u$(medium)">
									<p>Alpha Phi Omega is the nation's largest co-educational community service fraternity. Established in 1925, it has grown to include chapters across the United States and others in Canada, the Phillipines and Australia. Rho Pi is Alpha Phi Omega's chapter in University of California, San Diego and is a part of the Professional Fraternity Council as the largest fraternity on campus.</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>Every chapter revolves around three cardinal principles: Leadership, Friendship and Service. We aim to develop our understanding of these three principles and strive to provide volunteer service to the fraternity, to the campus, to the community and to the country. 
									<br />
									<br />We are all-inclusive and invite you to explore the opportunities that Alpha Phi Omega can provide!</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#principles" class="goto-next scrolly">Next</a>
				</section>

			<!-- Principles -->
				<section id="principles" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Our Three Cardinal Principles</h2>
							<p><i>the foundation of the fraternity</i></p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-area-chart"></span>
									<h3>Leadership</h3>
									<p>As a professional fraternity, we seek to develop leaders through offering opportunities to get involved! We have a multitude of leadership positions for both pledges and actives that span from large-scale event planning to reaching out to other chapters at the national level. With a supportive community, you won't be alone in your path to becoming a leader.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-comment"></span>
									<h3>Friendship</h3>
									<p>Brotherhood is the spirit of friendship. Our fraternity is built on the foundation of brotherhood, and we emphasize that through activities and fellowships for members of the chapter to get together. Sports, competition, food adventures, dances and travel awaits - we welcome everyone to join and find lifelong friends in the spirit of brotherhood.</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-flask"></span>
									<h3>Service</h3>
									<p>Every year, Alpha Phi Omega Rho Pi does over 7,000 hours of community service! We aim to serve our chapter, our campus, our community and our country. Our service program extremely diverse, with dozens of different types of community service as we are open to new projects while continuing our traditional quarterly service projects.</p>
								</section>
								
							</div>
						</div>
					</div>
				</section>				
				
			<!-- Reqs -->
				<section id="reqs" class="spotlight style2 right">
					<span class="image fit main"><img src="https://dl.dropboxusercontent.com/u/494566973/rushwebsite/images/geisel.jpg" alt="" /></span>
					<div class="content">
						<header class>
							<h2>Rush Requirements</h2>
							<p><i>everything you need to know</i></p>
						</header>
						<p>
						In order to be eligible to pledge for Alpha Phi Omega, you <strong>must</strong>:
						<ul>
						<li>Attend least one Info Night</li>
						<li>Attend Installations - <br />
						Bring $95 in cash or check. <br />
						<a href="https://dl.dropboxusercontent.com/u/494566973/rushwebsite/images/professionalattire.jpg">Professional attire </a>is required!
						</li>
						</ul>
						See our rush events <a href="#rush"> here. </a>
						<br /> <br />
						Also make sure that you are available during these dates, as you are required
						to attend these events while pledging: <br /><br />
						<ul>
						<li>Retreat - Friday, 10/14 - Sunday, 10/16</li>
						<li>Assignments - Sunday, 10/23</li>
						<li>Sib Reveal - Saturday, 10/29</li>
						<li>See all <a href="https://dl.dropboxusercontent.com/u/494566973/publicdocuments/pledge-reqs.pdf">pledging requirements! </a></li>
						</ul>
						</p>
					</div>
					<a href="#faq" class="goto-next scrolly">Next</a>
				</section>

			<!-- FAQ -->
				<section id="faq" class="wrapper style1 special fade-up">
					<div class="container">
					<div class="content">
						<header class="major">
							<h2>FAQ</h2>
							<p><i>frequently asked questions</i></p>
						</header>
						<p>						
							<strong>Who is allowed to join?</strong><br />
						We are a co-educational fraternity and allow both genders to join. We are also open to any student in good academic standing, and as a professional fraternity, we do not conflict with your ability to join other social fraternities or organizations. <br /> <br />
						<strong>Does Alpha Phi Omega haze?</strong><br />
						No. University of California, San Diego, Alpha Phi Omega and our chapter, Rho Pi all have expressive policies against any form of hazing. We do not condone any form of degredation, personal service and other practices that violate the principles of Alpha Phi Omega.<br /><br />
						<strong>If I decide to rush, am I committed to joining Alpha Phi Omega?</strong><br />
						No. The rush process provides an opportunity for you to evaluate Alpha Phi Omega and see if it is right for you. During rush, if you decide for any reason not to move forward in Alpha Phi Omega, you are in no way obligated.<br /><br />
						<strong>How is APO different from a social Greek fraternity or sorority?</strong><br />
						APO is a fraternity in that we are a Greek letter organization, yet we are not a social fraternity. We are a national organization with rituals, tradition, and a camraderie and bonding among our members. Service, however, is always our primary focus. We are not associated with the Inter-fraternity Council or the Panhellenic Association, and are instead a member of the Professional Fraternity Council. At our core is the belief that everybody can be great because everybody can serve.<br />

						</p>
						<ul class="actions">
							<li><a href="mailto:pta@aporhopi.org" class="button">Questions? Email us at pta@aporhopi.org.</a></li>
						</ul>
					</div>
					</div>
				</section>				
				
			<!-- Service -->
				<section id="service" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="https://dl.dropboxusercontent.com/u/494566973/rushwebsite/images/pic03.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Service</h2>
						</header>
						<p>						
						We provide over 7,000 hours of community service, which include the following:
						<ul>
							<li>Operation Santa</li>
							<li>WAPI</li>
							<li>Feeding the Homeless</li>
							<li>San Diego Refugee Tutoring</li>
							<li>Kennel Comforters</li>
							<li>Baja Dog Rescue</li>
							<li><u>and more!</u> Our service projects are always expanding into different fields and we
							would love for you to come join us in our mission to serve others. If you have an service project
							idea, don't be afraid to share!</li>
						</ul>
						</p>
					</div>
					<a href="#rush" class="goto-next scrolly">Next</a>
				</section>

			<!-- End -->
				<section id="rush" class="wrapper style2 special fade">
					<div class="container" align="center">
						<header>
							<h2>Become a brother of Alpha Phi Omega!</h2>
							<p>Start your journey today. Come to our rush events:</p>
						</header>
						<a href="https://www.facebook.com/UCSDAPO/">
						<span class="image fit"><img src="https://dl.dropboxusercontent.com/s/1qw52yqe1t41s5d/Fall2016FlyerFrontBack.png?dl=0" alt="" /></span>
						</a>
						<h2>Events</h2>
						<p>
						Wednesday, 9/28, 8PM - <strong>Board Game Night</strong>, at Price Center Theater <br />
						Thursday, 9/29, 7PM - <strong>Service With WAPI</strong>, at Sun God Lounge <br />
						Friday, 9/30, 5PM - <strong>Beach and Bonfire</strong>, meet at Sun God Lawn <br />
						Monday, 10/3, 8PM - <strong>Pieology & 85 Degrees</strong>, meet at Sun God Lawn <br />
						Tuesday, 10/4, 8PM - <strong>Info Night #1</strong>, Multipurpose Room (SSC) <br />
						Tuesday, 10/4, 8:30PM - <strong>Regents Pizza</strong>, meet at Sun God Lawn <br />
						Wednesday, 10/5, 7PM - <strong>Service with Operation Santa</strong>, Sun God Lounge <br />
						Thursday, 10/6, 7PM - <strong>Dodgeball!</strong>, Rimac Courts <br />
						Friday, 10/7, 8PM - <strong>Info Night #2</strong>, Multipurpose Room (SSC) <br />
						Friday, 10/7, 8:30PM - <strong>Pho Night</strong>, meet at Sun God Lawn <br />
						*Sunday, 10/9 - <strong>Installations</strong>, meet at Sun God Lounge. <br />
						*Bring $95 in Cash or Check. Checks made out to: "Alpha Phi Omega, Rho Pi Chapter" <br />
						*Professional Attire Required. <br />
						</p>
						<h2><u><a href="https://dl.dropboxusercontent.com/u/494566973/publicdocuments/pledge-reqs.pdf">Pledging Requirements</a></u><h2>
						
						
					</div>
					</section>

			<!-- Footer -->
				<footer id="footer">
					Questions? Email us at pta@aporhopi.org!
					<ul class="icons">
						<li><a href="https://www.facebook.com/UCSDAPO" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://instagram.com/apoucsd/" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="mailto:pta@aporhopi.org" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Alpha Phi Omega, Rho Pi.</li><li><a href="http://html5up.net">Design</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
			<script src="https://dl.dropboxusercontent.com/u/494566973/rushwebsite/assets/js/jquery.scrolly.min.js"></script>
			<script src="https://dl.dropboxusercontent.com/u/494566973/rushwebsite/assets/js/jquery.dropotron.min.js"></script>
			<script src="https://dl.dropboxusercontent.com/u/494566973/rushwebsite/assets/js/jquery.scrollex.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.0/skel.min.js"></script>
			<script src="https://dl.dropboxusercontent.com/u/494566973/rushwebsite/assets/js/util.js"></script>
			<script src="https://dl.dropboxusercontent.com/u/494566973/rushwebsite/assets/js/main.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  			
</body>
</html>