@charset "UTF-8";

// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/materialbox";
@import "components/form";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/date_picker/default.scss";
@import "components/date_picker/default.date.scss";
@import "components/date_picker/default.time.scss";

// pages
@import "pages/page.scss";
@import "pages/devise.scss";
@import "pages/user.scss";
@import "pages/event.scss";

// overrides

.card-content figure {
  overflow: hidden;
}

.nav-wrapper.white {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
