<footer>
  <div class="page-footer">
    <div class="footer-copyright white">
      <div class="container">
        <p>© 2017 Alpha Phi Omega: Rho Pi Chapter</p>
        <%= link_to "About Us", about_path, class: "right" %>
      </div>
    </div>
  </div>
</footer>