<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    © 2017 Alpha Phi Omega: Rho Pi Chapter
    <a class="grey-text text-lighten-4 right" href="http://www.aporhopi.org/about">About Us</a>
    </div>
  </div>
</footer>