<footer class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">About Us</h5>
        <p class="black-text">Alpha Phi Omega is the nation's largest co-educational community service fraternity. Rho Pi is Alpha Phi Omega's chapter in University of California, San Diego and is the largest professional fraternity on campus.</p>
        <a class="waves-effect waves-light btn yellow darken-2" href="/about">Learn More</a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">Rush</h5>
        <p class="black-text">Interested in joining our chapter?</p>
        <a class="waves-effect waves-light btn yellow darken-2" href="/rush">Rush APO</a>
      </div>
    </div>
  </div>
</footer>